.div {
    margin: 5px;
    border: 1px solid #bebebf ;
}

.flex-container {
    display: flex;
    flex-direction: column;
   
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
}

.Навигация {
    display: flex;
    flex-direction: column;
}

.right {
    display:flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: row;
}