div {
    margin: 10px;
    border: 1px color: rgba(152, 201, 77, .4);
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.навигация {
    display: flex;
    flex-direction: column;
}

.down-content {
    display: flex;
    flex-direction: row;

}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
}